@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');

@media (max-width: 767.98px) {
    .section-desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .section-mobile {
        display: none;
    }
}

* {
    font-family: 'Merriweather', sans-serif;
}

body {
    color: #444;
}

section {
    text-align: center;
}

section img {
    max-width: 100%;
}


footer {
    width: 100%;
    border-top: 1px solid #CCC;
    padding: 20px 0;
    margin: 50px 0 0 0;
    text-align: center;
}

footer a {
    color: #444 !important;
    text-decoration: underline;
}

footer a:hover {
    color: #444;
}